################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/bin/Debug
/src/obj
*.nupkg
/src/Solution/.vs/NP.NLogAdapter
/src/bin/Release/net6.0
/src/bin/Release/net8.0
